<p id="notice"><%= notice %></p>

<p>
  <strong>Departament:</strong>
  <%= @meeting.departament %>
</p>

<p>
  <strong>Complet:</strong>
  <%= @meeting.complet %>
</p>

<p>
  <strong>Data:</strong>
  <%= @meeting.data %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @meeting.hour %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
