<h1>Listing blog_pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_pages.each do |blog_page| %>
      <tr>
        <td><%= blog_page.title %></td>
        <td><%= blog_page.body %></td>
        <td><%= link_to 'Show', blog_page %></td>
        <td><%= link_to 'Edit', edit_blog_page_path(blog_page) %></td>
        <td><%= link_to 'Destroy', blog_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog page', new_blog_page_path %>
