<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog_page.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog_page.body %>
</p>

<%= link_to 'Edit', edit_blog_page_path(@blog_page) %> |
<%= link_to 'Back', blog_pages_path %>
