<h2>Dicționar</h2>

<% @letters.each do |key, value| %>
  <a href="#<%= value %>"><%= key %></a>
<% end %>

<div class="page-header">
  <div class="row">
    <div class="col-lg-3">
      <div class="bs-component">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="bs-component">
      <h1>Legaleză</h1>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="bs-component">
      <h1>Română</h1>
      </div>
    </div>
  </div>
</div>

<% @dictionary_terms.each do |dictionary_term| %>

  <div class="row">
    <div class="col-lg-3">
      <div class="bs-component">
        <h3>
          <a id="<%= dictionary_term.id %>" href="#<%= dictionary_term.id %>">
            <%= dictionary_term.termen %>
          </a>
        </h3>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="bs-component">
        <h5>
          <%= dictionary_term.legaleza %>
        </h5>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="bs-component">
        <h5>
          <%= dictionary_term.romana %>
        </h5>
      </div>

    </div>
  </div>
  <div class="row"></div>
<% end %>
