<h1>Ședințe</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trial_meetings.each do |trial_meeting| %>
      <tr>
        <td> <%= trial_meeting.departament %> </td>
        <td> <%= trial_meeting.date %> </td>
        <td> <%= trial_meeting.hour %> </td>
        <td> <%= trial_meeting.court.name %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @trial_meetings.all %>

<br>

<%= link_to 'New Trial meeting', new_trial_meeting_path %>
