<h1>Ședințe</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        Departament
      </th>
      <th>
        Data
      </th>
      <th>
        Ora
      </th>
      <th>
        Numele instanței
      </th>
    </tr>
  </thead>

  <tbody>
    <% @trial_meetings.each do |trial_meeting| %>
      <tr>
        <td> <%= trial_meeting.departament %> </td>
        <td> <%= trial_meeting.date %> </td>
        <td> <%= trial_meeting.hour %> </td>
        <td> <%= link_to trial_meeting.court.name, court_path(trial_meeting.court) %>  </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @trial_meetings.all %>
