<% content_for :head do %>
  <script type="text/javascript">

    make_donut = function(component, percentage, colour){
      var start_arch = -Math.PI*0.75;
      if(typeof colour === 'undefined'){
        colour = "#5BC0DE";
      };
      var vis = d3.select("#" + component);
      var arc = d3.svg.arc()
        .innerRadius(50)
        .outerRadius(100)
        .startAngle(start_arch)
        .endAngle(start_arch + 0.02*Math.PI*percentage);
      vis.append("path")
        .style("fill", function(d){return colour;})
        .attr("d", arc)
        .attr("transform", "translate(100,100)");
    };

    var ready;
    ready = function() {
      var value = $('#performance_indicator').attr("data-value");
      make_donut("performance_indicator_donut", value, "#F0AD4E");
      if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');
      $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
        return location.hash = $(e.target).attr('href').substr(1);
      });
      $('nav.pagination span a').each(function() {
        var href = $(this).attr('href');

        if(href) {
          href += (href.match(/\?/) ? '&' : '?') + $('li.active a[data-toggle="tab"]').attr('href');
          $(this).attr('href', href);
        }
      });
    };

    $(document).ready(ready);
    $(document).on('page:load', ready);
  </script>
<% end %>

<div class="row">
  <h2>
    <%= @court.name %>
  </h2>
</div>
<div class="bs-component">
  <div class="bs-example">
    <ul class="nav nav-tabs">
      <%= render 'court_tab', :locals => {id: "indicators", label: "Indicatori", active: true} %>
      <%= render 'court_tab', :locals => {id: "hearings", label: "Ședințe"} %>
      <%= render 'court_tab', :locals => {id: "proceedings", label: "Dosare"} %>
      <%= render 'court_tab', :locals => {id: "judges", label: "Judecători"} %>
      <%= render 'court_tab', :locals => {id: "contact", label: "Contact"} %>
    </ul>
  </div>  
  <div class="tab-content">
    <%= render 'court_tab_indicators' %>
    <div class="tab-pane fade" id="hearings">Ședințe Work in progress</div>
    <div class="tab-pane fade" id="decisions">Decizii Work in progress</div>
    <%= render 'court_tab_proceedings' %>
    <div class="tab-pane fade" id="contact">Contact Work in progress</div>
  </div>
</div> 
