<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      make_donut = function(component, percentage, colour){
        var start_arch = -Math.PI*0.75;
        if(typeof colour === 'undefined'){
          colour = "#5BC0DE";
         };
        var vis = d3.select("#" + component);
        var arc = d3.svg.arc()
          .innerRadius(50)
          .outerRadius(100)
          .startAngle(start_arch)
          .endAngle(start_arch + 0.02*Math.PI*percentage);

        vis.append("path")
          .style("fill", function(d){return colour;})
          .attr("d", arc)
          .attr("transform", "translate(100,100)");
      };
      make_donut("performance_indicator_donut", <%= @court.performance_indicator.to_i %>, "#F0AD4E");

      make_donut("predictibility_indicator_donut", <%= @court.safety_indicator.to_i %>);
      make_donut("operativity_donut", <%= @court.operativity.to_i %>);
      make_donut("load_indicator_donut", <%= @court.load_indicator.to_i %>);
    });
  </script>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="bs-component">
      <div class="jumbotron">
        <h1><%= @court.name %></h1>

        <p>
          <%= link_to 'Înapoi', courts_path, :class => 'btn btn-primary btn-lg' %>
        </p>

      </div>
      <div style="display: none;" id="source-button" class="btn btn-primary btn-xs">&lt; &gt;</div></div>
  </div>
</div>
        
<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">Performanță <%= @court.performance_indicator.to_i %>%</div>
      <div class="panel-body">
        <svg id="performance_indicator_donut" width="200" height="200"></svg>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="bs-component">
      <div class="col-lg-6">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">
              <%= @court.population.to_i %>
            </span>
            Populație deservită
          </li>
          <li class="list-group-item">
            <span class="badge">
              <%= @court.budget.to_i %>
            </span>
            Buget (mii lei)
          </li>
          <li class="list-group-item">
            <span class="badge">
              <%= @court.number_of_judges.to_i %>
            </span>
            Nr. judecători
          </li>
          <li class="list-group-item">
            <span class="badge">
              <%= @court.resolved_trial_fields.to_i %>
            </span>
            Nr. dosare soluționate
          </li>
          <li class="list-group-item">
            <span class="badge">
              <%= @court.total_activity_volume.to_i %>
            </span>
            Stoc
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">
              <%= @court.load_per_judge.to_i %>
            </span>
            Încărcătură pe judecător
          </li>
          <li class="list-group-item">
            <span class="badge">
              <%= @court.duration_in_days.to_i %>
            </span>
            Durata in zile
          </li>
          <li class="list-group-item">
            <span class="badge">
              <%= @court.duration_in_months.to_f %>
            </span>
            Durata in luni
          </li>
          <li class="list-group-item">
            <span class="badge">
              <%= @court.atacability_indicator.to_i %>%
            </span>
            Indice de atacabilitate
          </li>
          <li class="list-group-item">
            <span class="badge">
              <%= @court.casation_indicator.to_i %>%
            </span>
            Indice de casare
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">Indice de predictibilitate <%= @court.safety_indicator.to_i %>%</div>
      <div class="panel-body">
        <svg id="predictibility_indicator_donut" width="200" height="200"></svg>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">Operativitate <%= @court.operativity.to_i %>%</div>
      <div class="panel-body">
        <svg id="operativity_donut" width="200" height="200"></svg>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">Indice de incarcatura <%= @court.load_indicator.to_i %>%</div>
      <div class="panel-body">
        <svg id="load_indicator_donut" width="200" height="200"></svg>
      </div>
    </div>
  </div>
</div>
