<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      make_donut = function(component, percentage, colour){
        var start_arch = -Math.PI*0.75;
        if(typeof colour === 'undefined'){
          colour = "#5BC0DE";
         };
        var vis = d3.select("#" + component);
        var arc = d3.svg.arc()
          .innerRadius(50)
          .outerRadius(100)
          .startAngle(start_arch)
          .endAngle(start_arch + 0.02*Math.PI*percentage);

        vis.append("path")
          .style("fill", function(d){return colour;})
          .attr("d", arc)
          .attr("transform", "translate(100,100)");
      };
      make_donut("performance_indicator_donut", <%= @court.performance_indicator.to_i %>, "#F0AD4E");
    });
  </script>
<% end %>

<div class="row">
  <div class="page-header">
    <h1>
      <%= @court.name %>
    </h1>
  </div>
</div>
<div class="bs-component">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#indicators" data-toggle="tab">
        Indicatori
      </a>
    </li>
    <li>
      <a href="#hearings" data-toggle="tab">
        Ședințe
      </a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="indicators">
      <div class="row">
        <div class="col-lg-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Performanță
                <%= @court.performance_indicator.to_i %>%
              </h4>
            </div>
            <div class="panel-body">
              <svg id="performance_indicator_donut" width="200" height="200"></svg>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="panel">
            <div class="bs-component">
              <div>
                <div class="col-lg-12">
                  <div class="progress-basic">
                    <h4>
                      Indice de predictibilitate <%= @court.safety_indicator.to_i %>
                  </h4>
                  </div>
                  <div class="bs-component">
                    <div class="progress">
                      <div style="width: <%= @court.safety_indicator.to_i %>%" class="progress-bar progress-bar-info"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="col-lg-12">
                  <div class="progress-basic">
                    <h4>
                      Operativitate <%= @court.operativity.to_i %>
                  </h4>
                  </div>
                  <div class="bs-component">
                    <div class="progress">
                      <div style="width: <%= @court.operativity.to_i %>%" class="progress-bar progress-bar-info"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="col-lg-12">
                  <div class="progress-basic">
                    <h4>
                      Indice de incarcatura <%= @court.safety_indicator.to_i %>
                  </h4>
                  </div>
                  <div class="bs-component">
                    <div class="progress">
                      <div style="width: <%= @court.safety_indicator.to_i %>%" class="progress-bar progress-bar-info"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">
                <h4>
                  <%= @court.population.to_i %>
                </h4>
              </span>
              <h4>
                Populație deservită
              </h4>
            </li>
            <li class="list-group-item">
              <span class="badge">
                <h4>
                  <%= @court.budget.to_i %>
                </h4>
              </span>
              <h4>
                Buget (mii lei)
              </h4>
            </li>
            <li class="list-group-item">
              <span class="badge">
                <h4>
                  <%= @court.number_of_judges.to_i %>
                </h4>
              </span>
              <h4>
                Nr. judecători
              </h4>
            </li>
            <li class="list-group-item">
              <span class="badge">
                <h4>
                  <%= @court.resolved_trial_fields.to_i %>
                </h4>
              </span>
              <h4>
                Nr. dosare soluționate
              </h4>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">
                <h4>
                  <%= @court.load_per_judge.to_i %>
                </h4>
              </span>
              <h4>
                Încărcătură pe judecător
              </h4>
            </li>
            <li class="list-group-item">
              <span class="badge">
                <h4>
                  <%= @court.duration_in_months.to_f %>
                </h4>
              </span>
              <h4>
                Durata in luni
              </h4>
            </li>
            <li class="list-group-item">
              <span class="badge">
                <h4>
                  <%= @court.atacability_indicator.to_i %>%
                </h4>
              </span>
              <h4>
                Indice de atacabilitate
              </h4>
            </li>
            <li class="list-group-item">
              <span class="badge">
                <h4>
                  <%= @court.casation_indicator.to_i %>%
                </h4>
              </span>
              <h4>
                Indice de casare
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="hearings">
      <p>Work in progress</p>
    </div>
  </div>
</div> 
