
<section>
  <div class="mainContainer">
    <div class="row">
      <div class="col-md-1 col-xs-0 col-sm-0"></div>
      <div class="col-md-5 col-xs-12 col-sm-6">
        <h2>Avem date pentru fiecare instanță din România:</h2>
<p>Durata medie de soluţionare în primă instanţă a unui dosar în 2013 a fost de 104 zile la curţile de apel, 138 zile la tribunale şi 86 zile la judecătorii. Vezi <a href="/courts">aici</a> care este media pentru fiecare instanţă.</p>
<p>Cele mai performante 3 curţi de apel în 2013 au fost <a href="/courts/53fba7656c6f6338e30f0000">Curtea de Apel Craiova</a>, <a href="/courts/53fba7656c6f6338e3120000">Curtea de Apel Timişoara</a> şi <a href="/courts/53fba7656c6f6338e30d0000">Curtea de Apel Iaşi</a>; în cazul tribunalelor, cel mai bine au performat <a href="/courts/53fba7656c6f6338e3f30000">Tribunalul pentru minori şi familie Braşov</a>, <a href="/courts/53fba7656c6f6338e32c0000">Tribunalul Olt</a> şi <a href="/courts/53fba7656c6f6338e32d0000">Tribunalul Prahova</a>. În rândul judecătoriilor, cel mai bine s-au clasat <a href="/courts/53fba7656c6f6338e3ca0000">Judecătoriile din Târgu Bujor</a> şi <a href="/courts/53fba7656c6f6338e3cd0000">Târgu Lăpuş</a>, urmate de <a href="/courts/53fba7656c6f6338e39b0000">Judecătoria Odorheiul Secuiesc</a>. Vezi cum s-a clasat <a href="/pages/indicele-de-performanta">fiecare instanţă</a>.</p>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-6">
<a href="/pages/indicele-de-performanta">
        <img src="/images/indice-de-performanta-tribunale.png" class="img-responsive">
</a>
      </div>
    </div>
  </div>
</section>
<%= form_for(@contact_email) do |f| %>
  <% if @contact_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_email.errors.count, "error") %> prohibited this contact_email from being saved:</h2>

      <ul>
        <% @contact_email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal">
    <fieldset>
      <p>Pentru mai multe informații abonează-te! (maximum un mail pe lună)</p>
      <div class="row">
        <div class="col-lg-5">
          <%= f.text_field(:name, :class => "form-control", :placeholder => "Nume") %>
        </div>
        <div class="col-lg-5">
          <%= f.text_field(:email, :class => "form-control", :placeholder => "Adresă de email") %>
        </div>
        <div class="col-lg-2">
          <%= f.submit('Abonează-mă!', :class => "btn btn-primary subscribe_button") %>
        </div>
      </div>
    </fieldset>
  </form>
<% end %>
