<!DOCTYPE html>
<html>
<head>
  <title>Onorată instanță</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class="body-wrapper">
    <div class="container">

      <header>

        <div class="row">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>

        <div class="row">
          <div class="col-md-12">
            <nav role="navigation" class="navbar navbar-default">
              <div class="navbar-header">
                <button data-target="#bs-example-navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/"><img alt="Logo of the site" src="/assets/loog.png" class="logo" height="100" width="100"></a>
              </div>
              <div class="menu-right">
                <div id="bs-example-navbar-collapse" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><%= link_to "Blog", blog_posts_path %></li> 
                    <li class="active-menu"><a href="/pages/despre">Despre</a></li>
                    <li><%= link_to "Dictionar legalez", dictionary_terms_path %></li> 
                    <li><a href="/courts">Instanțe</a></li>
                    <li><a href="/pages/indicele-de-performanta">Indicele de performanță</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="top-links">
              <li><a href="/jurisprudences">Jurisprudenta</a></li>
              <li><a href="/trial_proceedings">Dosare</a></li>
              <!-- <li><a href="/trial_meetings">Sedinte</a></li> -->
              <!-- <li><input placeholder="cauta" type="search"></li> -->
            </ul>
          </div>
        </div>
      </header>
      <!-- <div class="navbar navbar&#45;default navbar&#45;fixed&#45;top"> -->
      <!--   <div class="container"> -->
      <!--     <div class="navbar&#45;header"> -->
      <!--       <a href="../" class="navbar&#45;brand">Onorată Instanță</a> -->
      <!--     </div> -->
      <!--     <div class="navbar&#45;collapse collapse" id="navbar&#45;main"> -->
      <!--       <ul class="nav navbar&#45;nav"> -->
      <!--         <li> -->
      <%# <%= link_to 'Despre', page_path('despre') %>
      <!--         </li> -->
      <!--         <li> -->
      <%# <%= link_to 'Educație', page_path('educatie') %>
      <!--         </li> -->
      <!--         <li> -->
      <!--           <a href="/courts">Instanțe</a> -->
      <!--         </li> -->
      <!--         <li> -->
      <%# <%= link_to 'Indicele de performanță', page_path('indicele-de-performanta') %>
      <!--         </li> -->
      <!--         <li> -->
      <!--           <a href="/trial_meetings">Ședințe</a> -->
      <!--         </li> -->
      <!--         <li> -->
      <!--           <a href="/trial_proceedings">Dosare</a> -->
      <!--         </li> -->
      <!--         <li> -->
      <!--           <a href="/trial_proceedings">Judecători</a> -->
      <!--         </li> -->
      <!--         <!&#45;&#45; <li> &#45;&#45;> -->
      <!--         <!&#45;&#45;   <form class="navbar&#38;#45;form navbar&#38;#45;left"> &#45;&#45;> -->
      <!--         <!&#45;&#45;     <input class="form&#38;#45;control col&#38;#45;lg&#38;#45;8" placeholder="Caută" type="text"> &#45;&#45;> -->
      <!--         <!&#45;&#45;   </form> &#45;&#45;> -->
      <!--         <!&#45;&#45; </li> &#45;&#45;> -->
      <!--       </ul> -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </div> -->

            <%= yield %>

      <!-- ===========================================================================================================

                    FOOTER

      ============================================================================================================ -->

      <!-- <footer> -->
      <!--   <div class="row"> -->
      <!--     <div class="col&#45;md&#45;12"> -->
      <!--       <div class="footer"> -->
      <!--         <a href="http://www.kas.de/rspsoe/ro/"> -->
      <!--           <img src="/assets/footer_logo.png" class="img&#45;footer&#45;logo"> -->
      <!--         </a> -->
      <!--       </div> -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </footer> -->


        <!-- <footer> -->
        <!--   <div class="row"> -->
        <!--     <div class="col&#45;lg&#45;12"> -->
        <!--  -->
        <!--       <ul class="list&#45;inline"> -->
        <!--         <li> -->
        <!--           <a href="http://www.kas.de/rspsoe/ro/" > -->
        <!--             <img src="/assets/kas_logo.png" alt="Konrad Adenauer Stiftung"> -->
        <!--           </a> -->
        <!--         </li> -->
        <!--       </ul> -->
        <!--     </div> -->
        <!--   </div> -->
        <!--  -->
        <!-- </footer> -->
      </div>

    </div>
  </div>
  <%= analytics_init if Rails.env.production? %>
</body>

</html>
