<!DOCTYPE html>
<html>
<head>
  <title>Onorată instanță</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="../" class="navbar-brand">Onorată Instanță</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Despre', page_path('despre') %>
          </li>
          <li>
            <%= link_to 'Educație', page_path('educatie') %>
          </li>
          <li>
            <a href="/courts">Instanțe</a>
          </li>
          <li>
            <%= link_to 'Indicele de performanță', page_path('indicele-de-performanta') %>
          </li>
          <li>
            <a href="/trial_meetings">Ședințe</a>
          </li>
          <li>
            <a href="/trial_proceedings">Dosare</a>
          </li>
          <li>
            <a href="/trial_proceedings">Judecători</a>
          </li>
          <!-- <li> -->
          <!--   <form class="navbar&#45;form navbar&#45;left"> -->
          <!--     <input class="form&#45;control col&#45;lg&#45;8" placeholder="Caută" type="text"> -->
          <!--   </form> -->
          <!-- </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= yield %>
      </div>
    </div>


<footer>
  <div class="row">
    <div class="col-lg-12">

      <ul class="list-inline">
        <li>
          <a href="http://www.kas.de/rspsoe/ro/" >
            <img src="/assets/kas_logo.png" alt="Konrad Adenauer Stiftung">
          </a>
        </li>
      </ul>
    </div>
  </div>

</footer>
</div>
</body>

</html>
